<div class="container-fluid" class="top">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <address>
                    <strong>Address</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107
                </address>
            </div>
            <div class="col-md-2">
                <strong>Contactez Nous</strong><br /> <abbr title="Phone">P:</abbr> (123) 456-7890
            </div>
        </div>
    </div>