<h2>Informations de paiement</h2>
<form (ngSubmit)="Saveinfo(infoForm)" #infoForm="ngForm">
    <div class="form-group">
        <label for="ccholdername">Nom</label>
        <input type="ccholdername" class="form-control" id="ccholdername" name="ccholdername" ngModel>
    </div>
    <div class="form-group">
        <label for="ccnum">Numéro de carte</label>
        <input type="text" class="form-control" id="ccnum" name="ccnum" placeholder="XXXX XXXX XXXX XXXX" ngModel>
    </div>
    <div class="form-group">
        <label for="ccexpiry">Date d'expiration</label>
        <input type="ccexpiry" class="form-control" id="ccexpiry" name="ccexpiry" placeholder="XX/XX" ngModel>
    </div>
    <div class="form-group">
        <label for="ccccv">CCV</label>
        <input type="ccccv" class="form-control" id="ccccv" name="ccccv" placeholder="XXX" ngModel>
    </div>
    <button type="submit">Valider</button>
</form>
