<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
				Category
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">Lit</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">canape</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">Bureau</a>
				</li>
				<li role="presentation" class="divider"></li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">Chaise</a>
				</li>
			</ul>
					
	 	</div>
	 <div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0504261_PE633252_S3.JPG"> <br/>
			canape <br/>
			<button type="button" class="btn btn-success" (click)="btnClick()">
				Ajouter au panier 
			</button>
		</div>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0386831_PE559172_S3.JPG"> <br/>
			canape <br/>
			<button type="button" class="btn btn-success">
				Button
			</button>
		</div>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0463033_PE609596_S3.JPG"> <br/>
			canape  <br/>
			<button type="button" class="btn btn-success">
				Button
			</button>
		</div>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0175610_PE328883_S3.JPG"> <br/>
			canape  <br/>
			<button type="button" class="btn btn-success">
				Button
			</button>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
			<div class="col-md-2">
		 </div>
		 <div class="col-md-2">
				<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0504261_PE633252_S3.JPG"> <br/>
				canape <br/>
				<button type="button" class="btn btn-success">
					Button
				</button>
			</div>
			<div class="col-md-2">
				<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0386831_PE559172_S3.JPG"> <br/>
				canape <br/>
				<button type="button" class="btn btn-success">
					Button
				</button>
			</div>
			<div class="col-md-2">
				<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0463033_PE609596_S3.JPG"> <br/>
				canape  <br/>
				<button type="button" class="btn btn-success">
					Button
				</button>
			</div>
			<div class="col-md-2">
				<img alt="Bootstrap Image Preview" src="https://www.ikea.com/PIAimages/0175610_PE328883_S3.JPG"> <br/>
				canape  <br/>
				<button type="button" class="btn btn-success">
					Button
				</button>
			</div>
			<div class="col-md-2">
			</div>
		</div>
</div>

 