p {
    margin: 100;
    padding: 0;
}

div:hover {
    background-color: #b0d5ff;
    border: #0079ed solid 1px;
}

div {
    width: 98%;

    display: inline-flex;
    align-items: baseline;

    border-radius: 20px;
    background-color: #cbe5ff;
    margin: 1%;
}

#stock-id {
    text-align: start;
    font-size: large;
    width: 60%;
}

#stock-quantite {
    font-size: large;
    width: 10%;
}

img {
    align-self: center;
}
