#stockSup {
    width: 98%;

    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;

    border-radius: 20px;
    border: #cbe5ff solid 1px;
    background-color: #cbe5ff;
    margin: 1%;
}

#stockSup:hover {
    background-color: #b0d5ff;
    border-color: #0079ed;
}

#stockLeft {
    width: 48%;
    display: inline-flex;
    align-items: baseline;
}

#stockLeft img {
    align-self: center;
}

#stockLeft p {
    padding: 0;
    margin: 0;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#stockRight {
    margin-right: 1%;
}

#stockRight * {
    margin-top: 5%;
    margin-bottom: 5%;
}
