<div id="over">
    <div id="sup">
        <ul>
            <jhi-cartview *ngFor="let entry of panier | keyvalue" [product]=entry.value.product [productId]=entry.key [quantity]=entry.value.quantity></jhi-cartview>
        </ul>
        <div id="sider">
                <p>{{totQte}} articles</p>
                <p>Total: {{computeTotalPrice()}} €</p>
                <button><a routerLink="/paiement">Commander</a></button>
        </div>
    </div>
</div>
<button (click)="ViderPanier()">Vider le panier</button>
<a routerLink="/paiement"><button>Passer la commande</button></a>
<p>Quantité Totale : {{totQte}}</p>
<p>Prix Total : {{computeTotalPrice()}} €</p>
